.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0.3rem;
	grid-auto-flow: dense;
	font-size: 1.2rem;
}

.wrapper > div {
	background-color: #ababab;
	overflow: hidden;
	padding: 10px;
	border: 2px solid #ababab;
	user-select: none;

}

.wrapper > div:nth-child(even) {
	background-color: #ddd;
	border: 2px solid #ddd;
}

.wrapper > div:hover {
	cursor: pointer;
	border: 2px solid #222;
}