body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
	display: inline-block;
	height: 40px;
	width: 40px;
	box-sizing: border-box;
	font-size: 30px;
	background-color: grey;
	border: none;
	margin: 10px 10px;
	border-radius: 50%;
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: lightgrey;
}

.container {
	display: grid;
	grid-template-columns: 30px auto;
	grid-column-gap: 0.5rem;
	width: 80%;
	margin: 10px auto;
}

.sidebar {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0.3rem;
	align-items: start;
}

.timestamp {
	display: block;
	width: 100%;
	height: 2px;
	background-color: black;
}

.timestamp:nth-child(even) {
	width: 70%;
	height: 2px;
	background-color: black;
}